   <header class="header" role="banner">
     <div class="header-top">
       <div class="container">
         {{ page.header_top }}
<h1>Hello world2</h1>
       </div>
     </div>

     <div class="header-nav container">
       {{ page.header}}
       {{ page.primary_menu }}
     </div>
   </header>