{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bootstrap_barrio_subtheme/unbxd-styling-profile-page') }}







<div id="notifications"></div>

<script type="text/javascript">


//add style to notification column on pforile page
window.addEventListener('load', function () {


var foot = jQuery(".right_column");
foot.scrollTop(foot.scrollTop() + 150); // scroll 75px down from current

var ids_array =[];

  jQuery('.block-views-blocknotifications-block-1').addClass("profile-column right_column");



setTimeout(function(){
get_notifications_ids();
},1000)




//add event to expand notification body on arrow click
setTimeout(function(){




//add notifications arrows right and down to control
jQuery('.views-field-nothing').append('<span onclick="show_notification_content(this)" class="notification_arrow"></span>')
jQuery('.right_column').append('<span style="transform: translateX(-50%) rotate(180deg);left:45%" class="scroll_notifications" onclick="scrollWin(`down`)"></span>')
jQuery('.right_column').append('<span style="left:60%" class="scroll_notifications" onclick="scrollWin(`up`)"></span>')





//bind function to scroll down/up notification window
var scrollWrapper = jQuery('.right_column .view-content.row');
var scrollBtn = jQuery('.scroll_notifications');

scrollWrapper.scrollTop(0)
jQuery('#scrollBtn').on('click', function() {
  scrollWrapper.scrollTop(scrollWrapper.scrollTop() + 50)
});




},1000)












});










//function to scroll down/up notification window
function scrollWin(dir) {

if(dir=='up')
{
document.getElementsByClassName("view-content")[0].scrollTop += 150;
}
else
document.getElementsByClassName("view-content")[0].scrollTop -= 150;
}




//grab all notifications node ID to tick as seen if needed
function get_notifications_ids()
{

var lista = jQuery('.view-id-notifications .views-infinite-scroll-content-wrapper');
var lista2 = jQuery(lista)[0];
var a_list = jQuery(lista).find('a');

ids_array =[];



jQuery.each(a_list, function( index, value ) {
var str = jQuery(this).attr('href');
var str2 = str.replace('/node/',"");
ids_array.push(str2)


});




var items = jQuery('.right_column').find('.views-row')



jQuery('.bell_seen').remove();


jQuery.each(items, function( index, value ) {





jQuery(this).append('<span class="bell_seen" onclick="tick_as_seen('+index+',this)" style="position: absolute;left: 7px;top: 14px;"><img width="16px" src="/themes/custom/subtheme/images/icons/bell_icon.png"></span>');

});




}




function tick_as_seen(index,elem)
{


console.log(index);
console.log(elem);

jQuery.post('/polar_seal/read-notification/'+ids_array[index]);





jQuery(elem).closest('.views-row').addClass('slide_out');


setTimeout(function(){


jQuery(elem).closest('.views-row').addClass('hide_row');


},1000)

}






</script>

<style type="text/css">

.user-logged-in .profile-column.projects-list
{
  display:none!important;
}


.bell_seen:hover
{
  cursor:pointer;
    -webkit-filter: drop-shadow(1px 1px 3px green);
    filter: drop-shadow(1px 1px 3px green);
}


.rotate_down
{
  transform:rotate(90deg);
}

.notification_arrow
{
  transition:all .5s;
}







.views-row
{
      transition: all 1s;
}



.slide_out
{

    transform: translateX(-500px);


}


.hide_row
{
height: 0px!important;
    overflow: hidden;
    margin: 0px!important;
    padding: 0px!important;
}



.views-infinite-scroll-content-wrapper 
{
  transition: all 1s;
}






.contextual-region.block h2 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 50px;
}




@media(max-width:999px)
{

  .right_column .view-content.row {

    max-width: 100%;

}
}




.show_notification p
{
	color:grey!important;
}



.view-notifications.view-id-notifications {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
}
  



.view-notifications.view-id-notifications label
{
color:white;

  

}





</style>






<script type="text/javascript">

setTimeout(function(){





(function($) { 
  Drupal.behaviors.betterExposedFilters = {
    attach: function (context, settings) {

jQuery('.notification_arrow').remove();




//add notifications arrows right and down to control
jQuery('.views-field-nothing').append('<span onclick="show_notification_content(this)" class="notification_arrow"></span>')
jQuery('.right_column').append('<span style="transform: translateX(-50%) rotate(180deg);left:45%" class="scroll_notifications" onclick="scrollWin(`down`)"></span>')
jQuery('.right_column').append('<span style="left:60%" class="scroll_notifications" onclick="scrollWin(`up`)"></span>')





//bind function to scroll down/up notification window
var scrollWrapper = jQuery('.right_column .view-content.row');
var scrollBtn = jQuery('.scroll_notifications');

scrollWrapper.scrollTop(0)
jQuery('#scrollBtn').on('click', function() {
  scrollWrapper.scrollTop(scrollWrapper.scrollTop() + 50)
});











get_notifications_ids();


setTimeout(function(){
jQuery('.views-field-nothing').click(function(){

});
console.log("bimnd");
},5000);



















        

    }
  };
})(jQuery);


},1500);






function show_notification_content(elem)
{


jQuery(elem).toggleClass('rotate_down');
jQuery(elem).parent().find('.not-right').toggleClass('show_notification');



}











</script>