
/* LOGIN FORM */
$form-dark-corner:#03547f;
$form-light-corner:#1e93a7;
$form-login-button: #004d7b;


/* LOGIN FORM END */



/* MY ORDERS */
$orders-green: #79bc38;
$orders-orange: #ff9700;
$orders-red: #f40000;

$orders-background: #f7faff;

/* MY ORDERS END */


/* GRAPH */
$graph-white:#f7faff;
$ghraph-aqua: #229fb1;
$graph-blue: #004d7b;


$form-radius: 33px;
$button-radius: 13px;

$blue: #004c7a;
$dark-blue: #0a587f;
$aqua: #229fb1;
$black: #000;