#block-headertopbar
{
margin-top:20px;
background: #f7faff;
margin-bottom:80px;
}

#block-headertopbar
{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

#block-headertopbar h3
{
    margin-bottom: 0px;
    padding-top: 11px;
    margin-left: 10%;
}










.header_sticky
{
	position: fixed;
    top: 0px;
    width: 100%;
    background: white;
    z-index: 100;
    box-shadow: 1px 0px 19px 1px #eeeeee;
}



