@media(max-width:999px)
{
#block-headertopbar
{
display:block!important;
margin-top: 0px;
margin-bottom: 25px;
}

#block-headertopbar h3 {
    margin-left: 19px;
    margin-bottom: 20px;
}


#menu {
    top: 28px;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: -22px 0 -10px 20px!important;
    cursor: pointer;
}


.menu-bg {
    margin: -22px 0 20px 20px;
    }

.project {

    margin-top: 50px;
}


.project .row.wrapper {
    padding-right: 5%!important;



}
.project .column {
    max-width: 100%!important;
    }




.white_rounded.pricing_section {
    margin-top: 50px;
}





.left_profile_menu .accordion-button {
    color: #ffffff;
       padding: 8px;
}





}